main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

img {
  max-width: 100%;
}
span {
  display: grid;
  display: inline-block;
  width: 350px;
  height: 350px;
  padding: 10px;
}
